<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="appInvictusStyle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="Capa.UI.Properties.Settings.Cadena" connectionString="Data Source=localhost;Initial Catalog=InvictusStyle;Persist Security Info=True;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
  <add name="appInvictusStyle.Properties.Settings.InvictusStyleConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=InvictusStyle;User ID=sa;Password= 123456" />
  <add name="appInvictusStyle.Properties.Settings.InvictusStyleConnectionString1"
   connectionString="Data Source=localhost;Initial Catalog=InvictusStyle;Persist Security Info=True;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <appInvictusStyle.Properties.Settings>
   <setting name="Login" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
  </appInvictusStyle.Properties.Settings>
 </userSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="wsindicadoreseconomicosSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsindicadoreseconomicosSoap1" />
   </basicHttpBinding>
   <customBinding>
    <binding name="wsindicadoreseconomicosSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpsTransport />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
    contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap" />
   <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
    binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap12"
    contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap12" />
  </client>
 </system.serviceModel>
</configuration>